#samplediv{
  height: 300px;
  width: 300px;
  background-color: indianred;
}
@media( max-width:1500px){
  #samplediv{
    background-color: darkcyan;
  }

}
@media( max-width:1000px){
  #samplediv{
    background-color: peru;
  }
  
}
@media( max-width:750px){
  #samplediv{
    background-color: mediumvioletred;
  }
  
}
@media( max-width:500px){
  #samplediv{
  background-color: darkgreen;
  }
  
}